<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/">
      <img src="/logo.png" alt="Logo EauDeLuxe" class="logo" />
    </a>
  </div>

  <div class="navbar-center">
    <div class="search-wrapper">
      <input
        type="search"
        placeholder="Buscar..."
        class="search-input"
        [(ngModel)]="searchText"
        (keydown.enter)="search()"
      />
      <button class="search-button" (click)="search()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <div class="navbar-right">
    <ng-container *ngIf="!auth.isAuthenticated(); else loggedIn">
      <a routerLink="/login" title="Iniciar sesión" class="icon-link"
        ><i class="bi bi-person-fill"></i
      ></a>
    </ng-container>

    <ng-template #loggedIn>
      <a routerLink="/cuenta" title="Mi cuenta" class="icon-link"
        ><i class="bi bi-person-fill"></i
      ></a>
      <a *ngIf="isAdmin" routerLink="/admin" title="Admin" class="icon-link"
        ><i class="bi bi-tools"></i
      ></a>
    </ng-template>

    <a routerLink="/cesta" title="Ver cesta" class="icon-link"
      ><i class="bi bi-cart-fill"></i
    ></a>
  </div>
</nav>

<div class="navbar-menu">
  <a (click)="filterByGender('hombre')">Hombre</a>
  <a (click)="filterByGender('mujer')">Mujer</a>
  <a (click)="filterByGender('unisex')">Unisex</a>
</div>
