<div class="product-detail-container" *ngIf="perfume">
  <div class="perfume-details">
    <img
      [src]="'http://localhost:3000' + perfume.image_url"
      alt="{{ perfume.name }}"
    />

    <div class="perfume-info">
      <h2>{{ perfume.brand }}</h2>
      <p>{{ perfume.name }}</p>

      <!-- Selector de tamaño estilo radio -->
      <div class="size-options">
  <div class="option">
    <div
      class="radio-circle"
      [class.selected]="selectedSize === '50'"
      (click)="selectSize('50')"
    ></div>
    <span class="label">50 ml</span>
    <span class="price">{{ perfume.price50 | currency:'EUR' }}</span>
  </div>

  <div class="option">
    <div
      class="radio-circle"
      [class.selected]="selectedSize === '100'"
      (click)="selectSize('100')"
    ></div>
    <span class="label">100 ml</span>
    <span class="price">{{ perfume.price100 | currency:'EUR' }}</span>
  </div>
</div>


      <!-- Precio total y control de cantidad -->
      <div class="total-row">
        <div class="label">Total</div>
        <div class="price">{{ totalPrice | currency:'EUR' }}</div>
      </div>

      <div class="cart-row">
        <div class="quantity-buttons">
          <button (click)="decreaseQuantity()">−</button>
          <span>{{ quantity }}</span>
          <button (click)="increaseQuantity()">+</button>
        </div>
        <button class="add-to-cart" (click)="addToCart()">Añadir a cesta</button>
      </div>
    </div>
  </div>

  <app-product-notes [notes]="perfume.notes"></app-product-notes>
  <app-product-reviews [reviews]="perfume.reviews" [perfumeId]="perfume.id"></app-product-reviews>
</div>

